.productsContainer {
  height: calc(100% - 20px);
  padding-top: 20px;
  display: flex;
}

@media (max-width: 768px) {
  .productsContainer {
    height: calc(100% - 20px);
    padding-top: 20px;
    width: 100%;
    display: block;
  }
}
