.home-container{
 display: flex; 
 margin: 10.333vw 0;  
}
#AllEvents-container{
    width: 100%;
    height: 4.667vw;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    font-size: 1rem;
    color: rgb(85, 224, 171);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.search-container {
    display: flex;
    width: fit-content;
    align-items: center;
    margin: auto;
  }
  
  input[type="text"] {
    padding: 10px;
    width: 200px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  