.parentContainer{
    display:flex;
    gap: 4rem;
    width: 100%;
   margin-left: 100px;

   
}
.menuContainer{
    width: 20%;
    border-right: 1px solid black;
}
.taskContainer{
    overflow-y: scroll;
    width: 80%;
    background-color: rgb(240, 238, 236);
}