form {
    display: flex;
    max-width: 500px;
    margin: auto;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  
  label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
  }
  
  button{
    background-color: #5fa1e8;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #bccfe3;
  }
  