.sigle-user-div{
width: 400px;
margin: auto;
margin-top: 200px;
}

.user-bookings{
    margin: auto;
    width: 200px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.single-bookings{
display: grid;
width: 70%;
grid-template-columns: repeat(3,1fr);
margin: auto;
}