.CataloguePage-nav{
    margin-top: 1550px;
    height: 150px;
}
.cart-img{
   /* margin-top: 150px; */
   margin-right: 30px;
   height: 50px;
   border-radius: 30%;
   float: right;
}
.BasketPage-body{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    width: 95%;
    height: 90vh ;
}
.total{
    font-size: 1.7rem;
    margin-top: 100px;
    color: rgb(253, 109, 7);
}
   .checkout-button {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(45deg, #FF6B6B, #FFCC29, #FF6B6B);
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1rem;
    float: right;
}

.checkout-button:hover {
    background: linear-gradient(45deg, #FFCC29, #FF6B6B, #FFCC29);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: -300px;
    
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #FF6B6B; /* Red */
    color: white;
}

tr:nth-child(even) {
    background-color: #FFCC29; /* Yellow */
}

tr:nth-child(odd) {
    background-color: #FFA500; /* Orange */
}
.checkout-card{
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}



@media (min-width: 0px) and (max-width: 400px) {
    .CataloguePage-body{
        margin-top: 3700px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
        width: 95%;
        /* margin: 50px auto; */
    }
    .BasketPage-body{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
        width: 95%;
        height: 90vh ;
    }
  }
  
  @media (min-width: 400px) and (max-width: 768px) {
    .CataloguePage-body{
        margin-top: 1000px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
        width: 95%;
    }
    .BasketPage-body{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
        width: 95%;
        height: 90vh ;
    }
  }
  
  @media (min-width: 768px) {
    .CataloguePage-body{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 10px;
        width: 95%;
    }
    .BasketPage-body{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 10px;
        width: 95%;
        height: 90vh ;
    }
  }