.order-body {
  height: 70vh;
  overflow: auto;
  border: none;
  margin-right: 2rem;
}


.order-body::-webkit-scrollbar {
  width: 8px; 
  border-radius: 50%;
}

.order-body::-webkit-scrollbar-thumb {
  background-color: #d0cdcd; 
  border-radius: 20px;
}
