.Modal2{
    position: absolute;
    height: 11rem;
    overflow-y: scroll; 
    width: 20%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:white;
    padding: 1.25rem;
    border-radius:1.7rem;
    box-shadow: 0rem 0rem .625rem rgba(0, 0, 0, 0.5);
  }
  .Modal2::-webkit-scrollbar {
	display: none; 
  }
  
  @media (min-width: 0px) and (max-width: 375px) {
	.Modal1 {
		width: 50%;
    }
	
  
  }  
  @media (min-width: 375px) and (max-width: 1024px) {
	.Modal1 {
		width: 50%;
    }
	
  } 
  
  input{
    width:97%;
    height: 2rem;
    border: none;
    border-bottom: 2px solid black;
    display: block;
  }
  input+ input{
    margin-bottom: 20px;
  }
  
  .add{
    float: right;
    background-color: transparent;
    border: none;
    color: blue;
  }
  .cancel{
    float: right;
    background-color: transparent;
    border: none;
    color: rgb(240, 95, 17);
  }
 