#single-contact-parent{
    display: flex;
    justify-content: space-between;
    width: 65.333vw;
    min-height:30px;
    background-color: rgb(232, 168, 85);
    border: 5px solid rgb(250, 227, 197);;
    border-left: 2px solid rgb(109, 108, 106);

}
#single-contact-parent:hover{
    background-color: rgb(245, 202, 145);

}
#single-contact-parent>div:nth-child(1)>div:nth-child(1){
    padding: 10px;
    font-size: 1rem;
    color: #433434;
    font-weight: 900;
}
#single-contact-parent>div:nth-child(1)>div:nth-child(2){
    padding: 15px;
    font-size: 1rem;
    color: #433434;
    font-weight: 900;
}


  
#single-contact-parent>div+div{
    padding: 1rem;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 20px;
}
#star{
}
#star:hover{
scale:2
}
#dlt:hover{
scale:2
}
#pen:hover{
scale:2
}