#navbar{
    background-color: rgb(161, 227, 161);
    position: fixed;
    top: 0;
    width: 91.333vw;
     height: 6.333vw;
     padding: 1vw;
     display: flex;
     text-align: center;
     align-items: center;
     font-size: 2rem;
     justify-content: space-between;
}