.normalview{
  margin: 100px auto;
  width: 70%;
}
.gridview{
    margin: 100px auto;
    width: 70%;
    display: grid;
    gap: 200px 30px;
    grid-template-columns: repeat(3,1fr);
}
.title{
    color: rgb(79, 65, 65);
    text-decoration: none;
}
.author{
    color: rgb(113, 104, 104);
}
.image{
    max-width: 100%; /* Ensures the image doesn't exceed its original size */
    height: 80%; 
}

.toggle{
    font-size: 24px;
}

/* Styling for the toggle button */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 18px;

    margin-top: 50px;
    margin-right: -50%;
  }
  
  .switch input {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: rgb(149, 255, 0)
  }
  
  input:checked + .slider:before {
    transform: translateX(18px);
  }
  
  /* Round slider for a circle-shaped button */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  