*{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.train-coach {
    width: 50vw;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(229, 219, 219);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(44, 43, 43, 0.2);
  }
  h3{
    font-size: 2rem;
  }
  
  .row {
    display: flex;
    justify-content: center;
    margin-bottom: 0.8vw;
  }
  
  .seat {
    width: 4vw;
    height: 8vh;
    margin: 0 5px;
    background-color: rgb(84, 84, 250);
    border-radius: 5px;
  }
  
  .seat::after {
    top: 10px;
    right: -5px;
    width: 5px;
    height: 30px;
    background-color: #666666;
    border-radius: 50%;
  }
  
  .last-row .seat {
    width: 70px;
  }
  
  .last-row .seat::after {
    top: 10px;
    right: -7.5px;
  }
  
  .seat:hover {
    background-color: rgb(227, 219, 219);
    cursor: pointer;
  }
  input{
    height:  8vh;
    margin: 0 5px;
    background-color: rgb(227, 204, 204);
    border-radius: 5px;
  }
  input::placeholder {
    font-size: 1.2rem; 
  }