.nav-approve{
  background-color: white;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}
.nav-approve-parent {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.nav-approve-parent>div:nth-child(1){
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(67, 68, 70);
}

.rounded-button1 {
  border-radius: 1rem 1rem 1rem 1rem;
  border: 2px solid rgb(30, 99, 63);
  margin-right: 1rem;
  padding: 0.4rem 1rem;
  background-color: rgb(247, 251, 249);
  color:rgb(30, 99, 63);
}
.rounded-button2 {
    border-radius: 20px 20px 20px 20px;
    padding: 10px 20px;
    background-color:rgb(30, 99, 63);
    color:  rgb(247, 251, 249);
    border: none;
  }
  