.parentContainer{
display: flax;
}
.taskNav{
    padding: 5px;
    margin-bottom: 1rem;
    position: fixed;
    top: 0;
    width: 80%;
    background-color: rgb(195, 231, 219);
}
.taskAdd{
    padding: 20px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 30%;
    text-align: left;
    color: rgb(15, 222, 226);
}
.taskAdd:hover{background-color: aliceblue;
}
.taskContainer1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 15rem;
    margin-left: 30%;
    gap: 2rem;
}
.taskcard{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 1rem;
    padding: 0rem 1.5rem;
}
input{
    height: 30px;
}
button{
    height: 40px;
    width:100px
}